.profile-edit-form {
  position: fixed;
  align-items: center;
  bottom: var(--nav-total-h);
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 1100;
  color: var(--text);
  display: flex;
  flex-direction: column;

  html.kb-open-any & {
    bottom: var(--kb-offset, 0px);
  }

  .form-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 300px;

    .logout-button {
      background: none;
      border: none;
      color: var(--danger);
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;

      svg {
        font-size: 20px;
      }
    }
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    flex: 1;
    overflow-y: auto;

    .profile-picture-preview img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid var(--quinary);
    }

    .upload-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 6px 12px;
      font-size: 14px;
      width: 300px;
      background-color: var(--tertiary);
      color: white;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;

      .icon {
        font-size: 20px;
      }
    }

    input[type="file"] {
      display: none;
    }

    input[type="text"] {
      padding: 8px 12px;
      font-size: 14px;
      border: 1px solid var(--quinary);
      border-radius: 0.3rem;
      width: 100%;
      max-width: 300px;
      background-color: var(--textarea);
      color: var(--text);

      &:focus {
        outline: none;
        border: 2px solid var(--tertiary);
        background-color: var(--textarea);
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      max-width: 300px;

      button {
        flex: 1;
        height: 40px;
        font-size: 14px;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.cancel-button {
          background: var(--quinary);
          color: white;
        }

        &.submit-button {
          background: var(--quaternary);
          color: white;
        }
      }
    }
  }
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--nav-total-h);
  z-index: 1050;
  backdrop-filter: blur(6px);
  background: color-mix(in oklab, transparent, black 20%);
  pointer-events: auto;

  .kb-open-any & {
    bottom: 0;
  }
}
