.confirm-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.confirm-modal {
  background: var(--primary);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--text);
  width: 90%;
  max-width: 300px;
  text-align: center;

  p {
    margin-bottom: 1rem;
  }

  .modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .cancel-button,
    .delete-button {
      flex: 1;
      padding: 8px 12px;
      border: none;
      border-radius: 0.3rem;
      font-size: 14px;
      cursor: pointer;
    }

    .cancel-button {
      background: var(--tertiary);
      color: white;
    }

    .delete-button {
      background: var(--danger);
      color: white;
    }
  }
}
